@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:monospace
}

.app {  
  background-color: #000000e5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #AB96DB;
  font-size: larger;
}

h1 {
	font-size: 10vmin;
	font-weight: 400;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: black;
  border-right: 4px solid black;
  padding: 0.5em;
  margin: 0.2em
}

h2{
  padding:0.5em;
  font-size: 5vmin;
  color: #CCF281;
  font-weight: 600;

}

/* ---------------- Navbar and burger menu ------------------ */

nav {
  width: 100%;
  height: 5em;
  background-color: #4832D5;
  display: flex;
  justify-content: flex-start;
  padding: 1em;
  box-shadow: 0px 5px 10px black
}

nav a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  color:aliceblue;
}

.burger-menu {
  height: 100%;
  width: 3em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}

.burger-bar {
  width: 3em;
  height: 0.5em;
  background-color: #99f444ec;
  border-radius: 0.5em;
  box-shadow: 1px 3px #EC449Bec;
}

/* ------------- sliding menu ------------------ */
.hidden {
  display: none;
}
.visible {
  display: inherit;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
  transform: rotate(45deg) translate(0.75em, 1.25em);
  transition: ease-out 0.5s;
  box-shadow: none;
  background-color: #EC449B;
}
.burger-bar.clicked:nth-child(2){
  background-color: #CCF281;
  transform: rotate(45deg) translate(-0.11em, 0.36em);
  transition: ease-out 0.5s;
  z-index: 1;
  box-shadow: none;
  background-color: #EC449B;
}
.burger-bar.clicked:nth-child(3){
  transform: rotate(135deg) translate(-0.5em, 1em);
  transition: ease-out 0.5s;
  box-shadow: none;
  background-color: #EC449B;
}
/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}