@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family:monospace
}
.app {  
  background-image: linear-gradient(to bottom right, #060413d7, #050219d7, #000000, #000000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  margin-bottom: 0;
}

  article {
  width: 100%;
  height: 2em;
  position: fixed;
  bottom: 0;
}

.article {
  white-space: nowrap;
  font-size: larger;
  animation: banner 10s linear 0s infinite;
}

@keyframes banner {
    0%{transform: translateX(210vh)}
    100%{transform: translateX(-50vh)}
}

article a {
  text-decoration: none;
  font-size: larger;
  font-weight: 800;
  color: #CCF281;
}

#header {
  position: sticky;
  width:100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-items: left;
  background-color: #AB96DB;
}

h1 {
	font-size: 3em;
	font-weight: 300;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: black;
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 40px;
  padding-bottom: 0px;
}

h2{
	font-size: 1.5em;
  color: #CCF281;
  font-weight: 600;
 padding-left: 40px;
 padding-top:5px;
 padding-bottom:10px;
}


/* ---------------- Navbar and burger menu ------------------ */

nav.show {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  z-index: 1;
  position:sticky;
  top: 0;
  width: 100%;
  height: 5em;

  background-color: #4832D5;
  padding: 1em;
  box-shadow: 0px 5px 10px black;

  transition-property: all; 
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

nav.down {
  display: none;
}

nav a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1.4em;
  text-align: center;
  text-decoration: none;
  color:aliceblue;
}

/* ------------neon light menu items--------------- */
nav a:hover {
    font-weight: 400;
    text-shadow: 0 0 10px #EC449Bec, 0 0 20px #EC449Bec, 0 0 20px #EC449Bec, 0 0 20px #EC449Bec, 0 0 2px #65fe28, 2px 2px 2px #14802a;
    color: aliceblue;
    animation: neon 1s 1;
}

@keyframes neon {
  0% {
    text-shadow: 0 0 10px #EC449Bec, 0 0 20px #EC449Bec, 0 0 20px #EC449Bec, 0 0 20px #EC449Bec, 0 0 2px #65fe28, 2px 2px 2px #14802a;
    color: aliceblue;
  }
  5% {
    text-shadow: 0 0 2px #0b4980, 0 0 5px #0b4980, 0 0 5px #0b4980, 0 0 5px #0b4980, 0 0 2px #0b4980, 4px 4px 2px #40340a;
    color: #EC449Bec;
  }
  15%{
    text-shadow: 0 0 10px #EC449Bec, 0 0 20px #EC449Bec, 0 0 20px #EC449Bec, 0 0 20px #EC449Bec, 0 0 2px #65fe28, 2px 2px 2px #14802a;
    color: aliceblue;
  }
  50% {
    text-shadow: 0 0 2px #0b4980, 0 0 5px #0b4980, 0 0 5px #0b4980, 0 0 5px #0b4980, 0 0 2px #0b4980, 4px 4px 2px #40340a;
    color: #EC449Bec;
  }
  55% {
    text-shadow: 0 0 10px #EC449Bec, 0 0 20px #EC449Bec, 0 0 20px #EC449Bec, 0 0 20px #EC449Bec, 0 0 2px #65fe28, 2px 2px 2px #14802a;
    color: aliceblue;
  }
  60% {
    text-shadow: 0 0 2px #0b4980, 0 0 5px #0b4980, 0 0 5px #0b4980, 0 0 5px #0b4980, 0 0 2px #0b4980, 4px 4px 2px #40340a;
    color: #EC449Bec;
  }
  75% {
    text-shadow: 0 0 10px #EC449Bec, 0 0 20px #EC449Bec, 0 0 20px #EC449Bec, 0 0 20px #EC449Bec, 0 0 2px #65fe28, 2px 2px 2px #14802a;
    color: aliceblue;
  }
  90% {
    text-shadow: 0 0 2px #0b4980, 0 0 5px #0b4980, 0 0 5px #0b4980, 0 0 5px #0b4980, 0 0 2px #0b4980, 4px 4px 2px #40340a;
    color: #EC449Bec;
  }
  100% {
    text-shadow: 0 0 10px #EC449Bec, 0 0 20px #EC449Bec, 0 0 20px #EC449Bec, 0 0 20px #EC449Bec, 0 0 2px #65fe28, 2px 2px 2px #14802a;
    color: aliceblue;
  }
}

/* --------------burger menu toggle icon------------------ */
.burger-menu {
  height: 100%;
  width: 3em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}

.burger-bar {
  width: 3em;
  height: 0.5em;
  background-color: #99f444ec;
  border-radius: 0.5em;
  box-shadow: 1px 3px 2px #EC449Bec;
}

/* ------------- menu items ------------------ */
menu {
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
}

.hidden {
  display: none;
}
.visible {
  display: inherit;
}

/* ----- nav animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
  transform: rotate(45deg) translate(0.75em, 1.25em);
  transition: ease-out 0.5s;
  box-shadow: 4px 4px 2px #CCF281;
  background-color: #EC449B;
}
.burger-bar.clicked:nth-child(2){
  background-color: #CCF281;
  transform: rotate(45deg) translate(-0.11em, 0.36em);
  transition: ease-out 0.5s;
  z-index: 1;
  box-shadow: none;
  background-color: #EC449B;
}
.burger-bar.clicked:nth-child(3){
  transform: rotate(135deg) translate(-0.5em, 1em);
  transition: ease-out 0.5s;
  box-shadow: 3px -4px 2px #CCF281;
  background-color: #EC449B;
}
/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

/* -------------------ABOUT -------------------*/

#about {
  display: flex;
  flex-flow: row wrap;
  margin-top: 4em;
  width: 70%;
  justify-content: center;
  font-size: 2em;
  padding: 5px;
}

.about img { 
  border-radius: 4%;
  box-shadow:-15px -15px #4832D5;
  width: 10em;
  height: fit-content;
}

.about-me-text{
  display: flex;
  flex-flow: column wrap;
  
  color:whitesmoke;
  padding: 10px;
  justify-content: space-between;
  min-width: 20vmax;
}

.about-me-text p, .about-me-text h3 {
  font-size: auto;
  padding: 8px;
  font-weight: 200;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-me-text h3{
  color:#EC449B;
}

/* -------------------PROJECTS---------------- */

#projects{
  display: flex;
  flex-direction: row;
  width: 70%;
  align-items: center;
  margin-top: 7em;
  margin-bottom: 7em;
  /* border: 4px solid white; */
}

.project {
  margin: 2%;
  width: 100%;
  height: 12em;
  background-color: #ab96db95;
  border-radius: 10%;
  padding: 2%;
  box-shadow:-15px -15px #CCF281;
  font-size: 1.5em;
}

.project h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  text-align: center;
  color: #EC449B;
}

.project a {
  text-decoration: none
}

/* -------------------CONTACT------------------- */

.contact {
  position:fixed;
  right: 20px;
  top: 35%;
  height: 100vmax;
  display: flex;
  flex-direction: column;
}

.contact a {
  margin: 10px;
}

.contact img {
  width: 3em;
  height: auto;
}

